page-about {
	.overlay{
		background: linear-gradient(to bottom, #99ccff 0%, #ffffff 100%);
	}
	.sousTitre{
		color: black;
		font-size: 17px;
	}
	.titre{
		color: #3399ff;
	}
	.description{
		font-size: 12px;
		color: black;
	}
}
