page-home {
	.overlay{
    background-image: url("../assets/images/fond.jpg");
    background-size: 360px;
	}
	h3{
		text-align: center;
		color: black;
		margin-top: 190px;
	}
	h5{
		text-align: center;
		color: black;
	}
}